%section.ten-oh-announcement
  .ten-oh-label
    %span 11.10
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 11.10 released with Pipelines on the Operations Dashboard, Pipelines for Merged Results, and Multi-line Merge Request Suggestions!

      .btn-group
        %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2019/04/22/gitlab-11-10-released/"}
          See what’s new
