---
title: "Help us speak your language!"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
image_title: '/images/blogimages/2018-09-13-gitlab-hackathon-cover.jpg'
description: "GitLab is available in many languages, but there's always more translation work to be done. Here's how you can contribute to translating GitLab."
tags: community, collaboration, open source, contributors
ee_cta: false
postType: product
twitter_text: "Help @gitlab speak your language"
---

One of the lesser-known features of GitLab is that it has been translated into many languages by community members. If you have only seen GitLab in (American) English, you can go to your [Profile page](https://gitlab.com/profile) and change your **Preferred language** to see it in another language.

![Selecting preferred language](/images/blogimages/translation-blog/preferred_language_chinese.png){: .shadow.small.center}

![GitLab in Chinese](/images/blogimages/translation-blog/gitlab_in_chinese.png){: .shadow.small.center}

We are proud of the work done by so many dedicated community members to help translate GitLab, but this is ongoing work, and we also have many languages that are just getting started with translation. That's where you come in!

## Why translate GitLab?

Some may say that GitLab is used by technical people who are already used to using a lot of different software in English, and translation is not really necessary. That may be true, but having the software available in local languages that people are more comfortable with lowers the barrier to entry not only for users, but for contributors too. Maybe it's because GitLab is an [all-remote company](/2018/10/18/the-case-for-all-remote-companies/) with [employees in nearly 50 countries](/company/team/), but GitLab team members appreciate the benefits of localized software in local communities.

 <%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

## How is GitLab translated and how do I start contributing?

The translation is managed at [translate.gitlab.com](https://translate.gitlab.com/) using [Crowdin](https://crowdin.com/). First, a phrase (e.g. one that appears in the GitLab user interface or in error messages) needs to be internationalized before it can be translated. The internationalized phrases are then made available for translations on [translate.gitlab.com](https://translate.gitlab.com/). As each phrase is translated, it is added to the translation file, and will then be merged into future releases. You can find more details on how GitLab is translated in the [Translate GitLab documentation](https://docs.gitlab.com/ee/development/i18n/).

As you can see in the [translation activity stream](https://translate.gitlab.com/project/gitlab-ee/activity_stream), the majority of translations are contributed by community members. You're probably already familar with GitLab's motto, "Everyone can contribute," and contributing translation is even easier than contributing code.  All you need is an account on [CrowdIn](https://crowdin.com/) plus a browser, and you are ready to translate GitLab to a language of your choice. So if you're looking for ways to contribute and know other languages, translation is a great place to get started.

During the [GitLab Hackathon](/community/hackathon/) in September, one of our [Core Team](/community/core-team/) members [Hannes Rosenögger](https://gitlab.com/haynes) presented a session on translation where he walked through how community members can contribute. You can watch the recording:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/LJ9oSSx0qyY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Where do we need help?

As you can see from the screenshot below, GitLab is almost fully translated into several languages, such as Chinese (both Simplifed and Traditional), French, German, Filipino, Brazilian Portuguese, Ukrainian, etc. However, many languages are in early stages, with a lot of translation left to be done and may also need [proofreaders](https://docs.gitlab.com/ee/development/i18n/proofreader.html) to help review and approve translations. You can find steps to becoming a proofreader also outlined in [the proofreader documentation](https://docs.gitlab.com/ee/development/i18n/proofreader.html#become-a-proofreader).

![GitLab translation status](/images/blogimages/translation-blog/gitlab_translation_status.png){: .shadow.medium.center}

Even if a language is fully translated today, new phrases are added all the time, so we welcome new contributors across all languages. If you have any questions as you get started on [translate.gitlab.com](https://translate.gitlab.com/), you can post questions on the [Crowdin discussions forum](https://translate.gitlab.com/project/gitlab-ee/discussions), and you are always welcome to reach me at rpaik@gitlab.com.

["GitLab application screengrab"](https://unsplash.com/photos/ZV_64LdGoao) by [Pankaj Patel](https://unsplash.com/@pankajpatel) on Unsplash
{: .note}
